<div class="login-container">
  <header class="login-header">
    <div class="header-content">
      <span class="material-symbols-outlined logo-icon">token</span>
      <h2 class="header-title">Road to Anbu</h2>
    </div>
    <button [routerLink]="['/registro']" class="btn-link">REGISTRARSE</button>
  </header>

  <main class="login-main">
    <div class="login-card">
      <div class="card-header">
        <h1 class="card-title">Acceso Shinobi</h1>
        <p class="card-subtitle">Identifícate para ver el tablón</p>
      </div>
      
      <div class="form-group">
        <label class="input-label">Usuario</label>
        <input type="text" class="ninja-input" placeholder="Nombre de ninja...">
      </div>

      <div class="form-group">
        <label class="input-label">Contraseña</label>
        <input type="password" class="ninja-input" placeholder="********">
      </div>

      <button [routerLink]="['/tablon']" class="btn-submit">ENTRAR AL PORTAL</button>
    </div>
  </main>
</div>