<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Acceso Shinobi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Usuario Ninja</ion-label>
      <ion-input [(ngModel)]="credentials.username" name="username" type="text" placeholder="Nombre de ninja..."></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="credentials.password" name="password" type="password" placeholder="********"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="onLogin()" class="ion-margin-top">
      ENTRAR AL PORTAL
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <p>¿Aún no tienes rango? <a [routerLink]="['/registro']">Regístrate</a></p>
    </div>
  </div>
</ion-content>